@font-face {
    font-family: Amatic;
    src: url(../../fonts/Amatic_SC/AmaticSC-Regular.ttf)
}

@font-face {
    font-family: Iceland;
    src: url(../../fonts/Iceland/Iceland-Regular.ttf)
}


.home {
    height: 600px;
    background: url('/images/Home/home-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.home .home-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.home .home-information .home-title {
    margin-left: -40px;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 300px;
    font-family: Amatic;
    animation: 6s linear 0s normal none infinite change;

}

.home .home-information .home-info {
    font-size: 35px;
    color: #eb5424;
    margin-bottom: 20px;
}

.home .home-information .home-desc {
    font-size: 20px;
    line-height: 1.5;
    color: #888;
    margin-bottom: 20px
}

.home .home-information .home-desc span {
    color: #000
}

.home .home-information .home-btn {
    background: #fff;
    color: blueviolet;
    font-size: 18px;
    width: 150px;
    border: 0;
    padding: 15px;
    cursor: pointer;
    font-weight: bold
}

.home .home-information .home-btn:hover {
    background: #fff;
    color: black
}

